{% extends "base_template.html" %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block navbar %}
<div class="blog blog-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/post/add">add new post <i class="fa fa-plus"></i></a>
      <a class="navbar-brand" href="/contacts">contact us</a>
      <a class="navbar-brand" href="/donate">donate</a>
      
      {% if user %}
        <div class="logged-user">
          <span>logged in as {{ user.username }} </span>
        </div>
      {% else %}
        <div class="logged-user">
          <span>You are not logged in <a href="/login">login</a></span>
        </div>
      {% endif %}
    </nav>
  </div>
</div>

{% endblock %}