{% extends "base_blog.html" %}


{% block content %}
<div class="container">
  <span>This is my own private page</span>
</div>

<div class="container">
  {% for post in render_data['blog_posts'] %}
    <div class="blog post">
      <div class="post-header">
        <span class="author">
          <b>{{ post.author }}</b> posted {{ post.created_at }}
        </span>
      </div>
      <div class="post-body"></div>
        <h4> {{ post.title }}</h4>
        <p>  {{ post.content }} </p>
      <div class="post-footer"></div>
        <span><a href="/post/{{ post.id }}">coomments >> </a></span>
    </div>    
  {% endfor %}
</div>
{% endblock %}
  